.App{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.timeline{
  border: 1px solid black;
  width: 50vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.vertical-line {
  width: 1.2vw; 
  height: 290vh; 
  display: flex;
  flex-direction: column;
}

.color-block {
  flex: 1; 
}

.color-block:nth-child(1) {
  background-color: red; 
  border-radius: 20px;
}

.color-block:nth-child(2) {
  background-color: orange; 
  border-radius: 20px;
}

.color-block:nth-child(3) {
  background-color: rgb(34, 24, 227); 
  border-radius: 20px;
}

.color-block:nth-child(4) {
  background-color: rgb(28, 241, 42);
  border-radius: 20px;
}

.color-block:nth-child(5) {
  background-color: rgb(212, 29, 194); 
  border-radius: 20px;
}


